*.csv
/.project
*.obj
/Desktop_Interface/android-build
*.exe
*.properties~
*.properties
Desktop_Interface/moc
Desktop_Interface/qrc
Desktop_Interface/ui
Desktop_Interface/Makefile*
*.user*
Desktop_Interface/Labrador_resource.rc
Desktop_Interface/android-Labrador-deployment-settings.json
Desktop_Interface/app_process
Desktop_Interface/settings.ini
AVR Code/USB_BULK_TEST/Debug
AVR Code/USB_BULK_TEST/Release
Desktop_Interface/debug
Desktop_Interface/release
!Desktop_Interface/resources/firmware/dfu-programmer.exe
*.o
Desktop_Interface/labrador
*.deb
*.tar.gz
*.so
*.so.*
*.qmake.stash
Thumbs.db
pinout.png
Matlab_Octave_API/___librador/build-librador-Desktop_Qt_5_10_0_GCC_64bit-Release
Matlab_Octave_API/___librador/build-librador-Desktop_Qt_5_10_0_GCC_64bit-Debug

Matlab_Octave_API/___librador/demo/librademo/Makefile

Matlab_Octave_API/___librador/demo/librademo/librademo

*.mex

Librador_API/___librador/MATLAB_Octave/octave-workspace

Librador_API/___librador/librador_shared_library/Makefile

Librador_API/___librador/demo_qt/librademo/librademo

Librador_API/___librador/librador_shared_library/a\.out
