#!/usr/bin/make -f

export DH_VERBOSE = 1

# Beware: dpkg-buildflags inserts its default flags, may cause issues.
# Labrador.pro currently strips (some) optimization flags.
# TODO: Revisit this and use the dpkg-buildflags defaults in the future.
export DEB_BUILD_MAINT_OPTIONS = optimize=-all

# Leaving debugging symbols in case they are helpful for bug reports.
# XXX: Enabling this here disables parallel builds and possibly other options.
# Provide it on the `dpkg-buildpackage` command line instead.
#export DEB_BUILD_OPTIONS = nostrip

export QT_SELECT = qt5

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -config release

# Changelog is intentionally empty for rolling release, don't install it.
override_dh_installchangelogs:
# Avoid creating the empty directory the changelog would appear in.
override_dh_installdocs:
