name: Build Linux

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build-appimage:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x86_64
          - os: ubuntu-22.04-arm
            arch: aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo apt-get install -y build-essential libfftw3-dev qtbase5-dev libusb-1.0-0-dev libeigen3-dev wget

      - name: Build librador
        working-directory: Librador_API/___librador/librador
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build librademo
        working-directory: Librador_API/___librador/librademo
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build basicdemo
        working-directory: Librador_API/___librador/basicdemo
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build AppImage
        working-directory: Desktop_Interface
        run: |
          ./make_appimage

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: asset-appimage-${{ matrix.arch }}
          path: Desktop_Interface/Labrador*.AppImage
          compression-level: 0
          if-no-files-found: error

  build-deb:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            arch: amd64
          - os: ubuntu-24.04-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y software-properties-common
          sudo apt-get install -y build-essential debhelper libfftw3-dev qtbase5-dev libusb-1.0-0-dev libeigen3-dev

      - name: Build librador
        working-directory: Librador_API/___librador/librador
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build librademo
        working-directory: Librador_API/___librador/librademo
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build basicdemo
        working-directory: Librador_API/___librador/basicdemo
        run: |
          qmake -config release
          make -j$(nproc)

      - name: Build Debian package
        working-directory: Desktop_Interface
        run: |
          DEB_BUILD_OPTIONS=nostrip dpkg-buildpackage -b
          mv ../espotek-labrador*.deb ../Labrador-$(git rev-parse --short HEAD)-${{ matrix.arch }}.deb

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: asset-deb-${{ matrix.arch }}
          path: Labrador*.deb
          compression-level: 0
          if-no-files-found: error
